.fixed {
  position: fixed;
  width: 100%;
}

.navbar {
  z-index: 1;
}

.navbar-inverse {
  border-radius: 0px;
}

.navbar-inverse .navbar-brand {
  transition: 0.2s;
  color: #c7d70e;
}

.navbar-inverse .navbar-brand:hover {
  transition: 0.2s;
}

.navbar-inverse .navbar-nav > li > a {
  transition: 0.2s;
}

.navbar-inverse .navbar-nav > li > a:hover {
  transition: 0.2s;
}

@media (max-device-width: 500px) {
  .navbar-header {
    float: none;
  }
  .navbar-left, .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
}

.body-button {
  transition: 0.2s;
  display: inline-block;
  margin: 0px 10px;
  background-color: #4a4a49;
  width: 200px;
  color: #e3e3e3;
  border: solid 1px #333;
  padding: 3px 18px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  outline: 0;
}

.body-button i {
  margin-right: 5px;
}

.body-button:hover {
  transition: 0.2s;
  color: #4a4a49;
  background-color: #e3e3e3;
}

.link-btn {
  transition: 0.2s;
  display: block;
  float: right;
  height: 40px;
  width: 40px;
  padding-top: 4px;
  margin: 0px 10px 0px 0px;
  text-align: center;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  color: #4a4a49;
}

.link-btn:hover {
  transition: 0.2s;
  color: white;
  background-color: #4a4a49;
  border-color: #4a4a49;
}

.contact-buttons {
  padding: 0px 10px;
  margin: 0px 3px 0px 0px;
}

.contact-buttons a {
  display: inline-block;
  color: #91a30e;
  background-color: #4a4a49;
  border-radius: 30px;
  transition: 0.2s;
  font-size: 18px;
}

.contact-buttons a:hover {
  transition: 0.2s;
  background-color: white;
  color: #4a4a49;
}

.contact-buttons i {
  padding: 0px 10px 0px 0px;
}

@media (max-width: 980px) {
  .body-button {
    padding: 3px 0px;
    margin: 0px 5px;
    width: 150px;
  }
  .link-btn {
    margin: 20px 10px 0px 0px;
  }
  .contact-buttons {
    margin: 5px 3px 0px 0px;
  }
}

.oval-list {
  padding: 0;
  list-style-type: none;
}

.oval-list li {
  display: inline-block;
  color: white;
  background-color: #4a4a49;
  border-radius: 30px;
  padding: 1px 7px;
  margin: 3px 3px 0px 0px;
}

.divider {
  height: 10px;
  opacity: 0.2;
  border-top: solid 1px black;
  background-image: url("https://image.ibb.co/gB4J65/bottomshadow.png");
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 800px) {
  .divider {
    height: 0px;
    opacity: 0.2;
    border-top: solid 1px black;
    background-image: none;
  }
  .oval-list li {
    margin: 3px 3px 0px 0px;
  }
}

.portf-grid {
  padding: 0px 90px;
  height: auto;
  margin-bottom: 40px;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 32% 66%;
  -ms-grid-columns: 32% 66%;
  grid-auto-rows: minmax(0px, auto);
  grid-column-gap: 20px;
  grid-row-gap: 30px;
}

.portf-grid > div {
  overflow: hidden;
}

.portf-grid .port-img {
  grid-column: 1;
  -ms-grid-column: 1;
  grid-row: 1;
  -ms-grid-row: 1;
}

.portf-grid .port-img-details {
  grid-column: 2;
  -ms-grid-column: 2;
  grid-row: 1;
  -ms-grid-row: 1;
}

.portf-grid .divider {
  grid-column: 1/span 2;
  -ms-grid-column: 1/span 2;
  grid-row: 2;
  -ms-grid-row: 2;
}

.contact-grid {
  padding: 50px 90px 0px 90px;
  overflow: auto;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 66% 34%;
  -ms-grid-columns: 66% 34%;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 0px;
  grid-row-gap: 0px;
}

.contact-grid .contact-top {
  grid-column: 1;
  -ms-grid-column: 1;
  grid-row: 1;
  -ms-grid-row: 1;
}

.contact-grid .my-picture {
  padding: 20px 0px 0px 24%;
  grid-column: 2;
  -ms-grid-column: 2;
  grid-row: 1;
  -ms-grid-row: 1;
}

.contact-grid .contact-methods {
  text-align: center;
  grid-column: 1/span 2;
  -ms-grid-column: 1/span 2;
  grid-row: 2;
  -ms-grid-row: 2;
}

@media (max-width: 800px) {
  .portf-grid {
    padding: 0px 90px;
    height: auto;
    margin-bottom: 40px;
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-columns: 1;
    grid-auto-rows: minmax(0px, auto);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
  }
  .portf-grid > div {
    overflow: hidden;
  }
  .portf-grid .port-img {
    grid-column: 1;
    -ms-grid-column: 1;
    grid-row: 1;
    -ms-grid-row: 1;
  }
  .portf-grid .port-img-details {
    grid-column: 1;
    -ms-grid-column: 1;
    grid-row: 2;
    -ms-grid-row: 2;
  }
  .portf-grid .divider {
    grid-column: 1;
    -ms-grid-column: 1;
    grid-row: 3;
    -ms-grid-row: 3;
    height: 0px;
  }
  .contact-grid {
    padding: 50px 20px 0px 20px;
  }
  .contact-grid .my-picture {
    padding: 20px 0px 0px 0px;
  }
}

@media (max-width: 620px) {
  .portf-grid {
    padding: 0px 20px;
  }
}

body {
  margin: 0;
  font-family: jura;
  background-color: #ddd;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h2 {
  font-size: 50px;
  color: white;
}

p {
  font-size: 16px;
}

#profile {
  overflow: hidden;
  height: 100vh;
  min-height: 500px;
  width: 100%;
  background-image: url(https://image.ibb.co/kME7vb/gscl_portf_bg1080.jpg);
  background-repeat: no-repeat;
  background-width: 100%;
  background-color: black;
  background-size: cover;
}

.profile-box {
  max-width: 1160px;
  margin: 30vh auto auto auto;
  text-align: center;
}

.profile-box h1 {
  margin: 0;
}

.profile-box .title {
  color: white;
  display: inline-block;
  border: solid 5px #c7d70e;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0px 30px 7px 30px;
  font-size: 60px;
}

.profile-box .subtitle {
  color: #e3e3e3;
  text-shadow: 0px 0px 40px black, 0px 0px 30px black, 0px 0px 20px black;
}

.profile-box .introduction {
  color: white;
  text-shadow: 0px 0px 40px black, 0px 0px 30px black, 0px 0px 20px black;
}

#portfolio {
  position: relative;
  width: 100%;
}

#portfolio img {
  width: 100%;
}

#portfolio h3 {
  margin: 0;
  color: #91a30e;
}

.portfolio-box {
  max-width: 1160px;
  height: auto;
  margin: auto;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.portfolio-top {
  padding: 70px 90px 50px 90px;
  overflow: auto;
  background-color: #91a30e;
}

.portfolio-top p {
  text-align: justify;
}

.explanation {
  text-align: left;
  clear: both;
  display: block;
  margin: 20px 0px 20px 0px;
}

#contact {
  position: relative;
  height: 100vh;
  min-height: 460px;
  background-color: #91a30e;
}

#contact img {
  width: 100%;
  max-width: 300px;
  border-radius: 50%;
}

#contact .section-title {
  color: white;
}

#contact h2 {
  margin: 0;
}

.contact-box {
  max-width: 1160px;
  margin: auto;
}

@media (max-width: 800px) {
  .explanation {
    text-align: left;
    clear: both;
    display: block;
    margin: 20px 0px 20px 0px;
  }
}

@media (max-width: 780px) {
  h2 {
    font-size: 50px;
    color: white;
  }
  p {
    font-size: 16px;
  }
  #profile {
    overflow: hidden;
    height: 100vh;
    min-height: 340px;
    width: 100%;
    background-image: url(https://image.ibb.co/kME7vb/gscl_portf_bg1080.jpg);
    background-repeat: no-repeat;
    background-width: 100%;
    background-color: black;
    background-size: cover;
  }
  .profile-box {
    max-width: 1160px;
    margin: 30vh auto auto auto;
    text-align: center;
  }
  .profile-box h1 {
    margin: 0;
  }
  .profile-box .title {
    color: white;
    display: inline-block;
    border: solid 3px #c7d70e;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0px 20px 5px 20px;
    font-size: 30px;
  }
  .profile-box .subtitle {
    color: #e3e3e3;
    font-size: 24px;
    margin: 0;
  }
  .profile-box .introduction {
    color: white;
    text-shadow: 0px 0px 40px black, 0px 0px 30px black, 0px 0px 20px black;
  }
  #contact {
    position: relative;
    height: 100vh;
    min-height: 540px;
  }
}

@media (max-width: 620px) {
  .portfolio-top {
    padding: 70px 20px 50px 20px;
    overflow: auto;
    background-color: #91a30e;
  }
  .portfolio-top p {
    text-align: justify;
  }
  .portf-grid {
    padding: 0px 20px;
  }
}
