// !compileOnSave
// compileOnSave: false

//profile--------------------------------------

@media (device-width: 500px), (max-device-width: 667px) {

}
//portfolio------------------------------------
.button-row {
  margin-bottom: 20px;
  a {
    display: block;
    float: left;
    margin-left: 10px;
}
}
.link-btn {
  @include button($primary-color, 30px, 7px);
  @include roboto(20px);
  i {
    font-size: 26px;
  }
}
@media (device-width: 500px), (max-device-width: 667px) {
.button-row {
  margin-bottom: auto;
  width: 600px;
  text-align: center;
  margin: auto;
  a {
    float: none;
    margin: auto auto 30px auto;
  }
}
.link-btn {
  @include button($primary-color, 60px, 7px);
  @include roboto(60px);
  i {
    font-size: 70px;
  }
}
}
//contact---------------------------------------
.contact-buttons {
  position: relative;
  bottom: 0;
  display: block;
  float: left;
  text-decoration: none;
  &:not(:last-child) {
    margin-right: 56px;
  }
  @include roboto(36px);
  color: white;
  &:hover {
    transition: 0.3s;
    border-bottom: solid 5px white;
  }
  i {
    font-size: 40px;
    margin-right: 8px;
  }
}
.fcc-icon {
  font-size: 30px !important;
}

.resume-buttons {
  text-align: center;
  a {
    @include roboto(20px);
    color: white;
    @include button(white, 30px);
  }
}

@media (device-width: 500px), (max-device-width: 667px) {
  .contact-buttons {
    position: relative;
    bottom: auto;
    display: block;
    float: none;
    text-align: left;
    margin-left: 100px;
    text-decoration: none;
    &:not(:last-child) {
      margin-right: 56px;
    }
    @include roboto(52px);
    color: white;
    &:hover {
      transition: 0.3s;
      border-bottom: none;
      border-left: solid 10px white;
    }
    i {
      font-size: 56px;
      margin-right: 8px;
    }
  }
  .fcc-icon {
    font-size: 38px !important;
  }
}
//scroll buttons---------------------------------
.go-btn {
  z-index: 2;
  width: auto;
  margin: auto;
  text-align: center;
  h2 {
    font-family: 'syncopate';
  }
}
.go-btn-on-black {
  @include button(white, 30px, 0px);
}
.go-btn-on-white {
  @include button($primary-color, 30px, 0px);
}
.go-up {
  width: 200px;
  position: absolute;
  top: 30px;
  right: 50%;
  margin-right: -100px;
  h2 {
    margin: 0px 0px 10px 0px;
  }
}
.go-down {
  width: 200px;
  position: absolute;
  bottom: 30px;
  right: 50%;
  margin-right: -100px;
  h2 {
    margin: 10px 0px 0px 0px;
  }
}

@media (device-width: 500px), (max-device-width: 667px) {
  .go-btn {
    z-index: 2;
    width: auto;
    margin: auto;
    text-align: center;
    h2 {
      font-family: 'syncopate';
      font-size: 50px;
    }
    i {
      font-size: 50px;
    }
  }
  .go-btn-on-black {
    @include button(white, 60px, 0px);
  }
  .go-btn-on-white {
    @include button($primary-color, 60px, 0px);
  }
  .go-up {
    width: 440px;
    top: 30px;
    margin-right: -220px;
    h2 {
      margin: 0px 0px 10px 0px;
    }
  }
  .go-down {
    width: 440px;
    bottom: 200px;
    margin-right: -220px;
    h2 {
      margin: 10px 0px 0px 0px;
    }
  }

}
