// !compileOnSave
// compileOnSave: false
$primary-color: #3296a2;
@mixin hover-effect($color:white) {
  &:hover {
    background-color: $color;
  }
}
@mixin lobster($size: 18px) {
  font: {
    family: 'Lobster', sans-serif;
    size: $size;
  }
}
@mixin josefin($size: 18px) {
  font: {
    family: 'Josefin Sans', sans-serif;
    size: $size;
  }
}
@mixin syncopate($size: 18px) {
  font: {
    family: 'syncopate', sans-serif;
    size: $size;
  }
}
@mixin roboto($size: 18px) {
  font: {
    family: 'roboto';
    size: $size;
  }
}
@mixin shadow {
  box: {
    shadow: 5px 5px 10px black;
  }
}
@mixin border($radius: 30px) {
  border: {
    style: solid;
    width: 2px;
    radius: $radius;
  }
}
@mixin button($text-color: white, $radius: 30px, $padding: 0px 10px) {
  color: $text-color;
  cursor: pointer;
  text-decoration: none;
  border: solid 2px;
  border-radius: $radius;
  padding: $padding;
  @if $text-color == $primary-color {
    border-color: $primary-color;
    background-color: white;
    &:hover {
      color: white;
      border-color: $primary-color;
      background-color: $primary-color;
    }
  } @else {
    border-color: white;
    &:hover {
      color: $primary-color;
      border-color: white;
      background-color: white;
    }
  }
}
