// !compileOnSave
// compileOnSave: false
.fixed {
  position: fixed;
}
#navbar {
  background-color: rgba(0, 0, 0, 0.0);
  z-index: 1;
}
.top-navbar {
  height: 60px;
  width: 100%;
  a {
    text-decoration: none;
  }
  .nav-buttons {
    display: block;
    float: left;
    margin: 5px;
  }
  .social {
    display: block;
    float: right;
    font-size: 12px;
    width: 22px;
    margin: 5px;
  }
  .drop-button {
    display: none;
    float: left;
    margin: 10px 10px 5px 10px;
    padding: 0px 6px;
    font-size: 40px;
    color: white;
    @include hover-effect;
  }
}
.nav-over-profile {
  @include roboto(18px);
  @include button(white);
  &.social {
    @include button(white, 10px, 3px 5px);
  }
}
.nav-over-portfolio {
  @include roboto(18px);
  @include button($primary-color);
  &.social {
    @include button($primary-color, 10px, 3px 5px);
  }
}
@media (device-width: 500px), (max-device-width: 667px), (max-width: 980px) {
  .top-navbar {
    display: none;
  }
}
