// !compileOnSave
// compileOnSave: false

//COLORS------------------------
$primary-color: #91a30e;
$secondary-color: #c7d70e;
$light-color: #e3e3e3;
$dark-color: #4a4a49;
//OTHER-------------------------
$transition-time: 0.2s;
