// compileCompressed, compressedFilenamePattern: ../css/style.css
//THIS PAGE IS CURRENTLY UNDER CONSTRUCTION - code is subject to change daily and will be optimized before completion
@import 'mixins';
@import 'navbar';
body {
  margin: 0;
  background-color: white;
}
h1 {
  font-weight: normal;
  margin: 0;
}
h2 {
  font-weight: normal;
}


#profile {
  position: relative;
  height:100vh;
  min-height: 700px;
  width: 100%;
  background: {
    image: url(https://image.ibb.co/b6uGDk/BGCL.png);
    repeat: no-repeat;
    opacity: 50%;
    width: 100%;
    color: black;
    size: cover;
  }
  .section-box {
    max-width: 980px;
    margin: auto;
  }
  img {
    width: 100%;
    border: {
      style: solid;
      color: white;
      width: 10px;
      radius: 50%;
    }
  }
  p {
    @include roboto(20px);
    color: white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1.0);

  }
  h1 {
    text-align: center;
  }
  .line1 {
    @include lobster(90px);
    color: white;
  }
  .line2 {
    @include josefin(80px);
    color: $primary-color;
  }
  .line3 {
    @include syncopate(30px);
    color: white;
    letter-spacing: 14px;
    margin-left: 14px;
  }
}

.profile-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0px;
  grid-auto-rows: minmax(90px, auto);
  &> div {
    border: none;
  }
  .g1 {
    padding: {
      top: 10%;
    }
    grid-column: 1;
    grid-row: 1;
  }
  .g2 {
    grid-column: 1;
    grid-row: 2;
    max-width: 500px;
    margin: auto;
    text-align: justify;
  }
}


#portfolio {
  position: relative;
  width: 100%;
  .section-box {
    max-width: 980px;
    height: auto;
    min-height: auto;
    margin: auto;
    background-color: white;
    padding: 100px 90px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  }
  p {
    @include roboto(18px);
    color: black;
  }
  img {
    width: 100%;
  }
  h3 {
    margin: 0;
    @include roboto(30px);
    color: $primary-color;
  }
  h4 {
    @include roboto(20px);
    color: black;
  }
}

.portf-grid {
  height: auto;
  margin-bottom: 40px;
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-columns: 33% 66%;
  grid-auto-rows: minmax(0px, auto);
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  &> div {
    overflow: hidden;
  }
  .port-img {
    grid-column: 1;
    -ms-grid-column: 1;
    grid-row: 1;
    -ms-grid-row: 1;
  }
  .port-img-details {
    grid-column: 2 / 4;
    -ms-grid-column: 2;
    grid-row: 1;
    -ms-grid-row: 1;
  }
  .divider {
    grid-column: 1 / 4;
    grid-row: 2;
    height: 10px;
  }
}
.divider {
  height: 10px;
  opacity: 0.2;
  border-top: solid 1px black;
  background: {
    image: url('https://image.ibb.co/gB4J65/bottomshadow.png');
    repeat: no-repeat;
  }
}


#contact {
  position: relative;
  height: 100vh;
  min-height: 600px;
  background-color: $primary-color;
  .section-box {
    max-width: 980px;
    margin: auto;
  }
  p {
    @include roboto(20px);
    color: white;
    max-width: 400px;
    margin: 30px auto auto auto;
  }
  .section-title {
    @include roboto(72px);
    color: white;
  }
}
.contact-grid {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 0px;
  grid-row-gap: 0px;
  &> div {
    //  border: 2px solid rgb(233,171,88);
  }
  .section-title {
    padding-top: 10%;
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .my-picture {
    grid-column: 3;
    grid-row: 1;
    img {
      height: 300px;
      border: solid 2px white;
      border-radius: 50%;
    }
  }
  .content {
    padding-top: 10%;
    grid-column: 1 / 4;
    grid-row: 2;
    h2 {
      text-align: center;
      @include roboto(30px);
      color: white;
    }
  }
  .content-buttons {
    position: relative;
    bottom: 40px;
    padding-top: 10%;
    grid-column: 1 / 4;
    grid-row: 3;
  }
}
.up {
  opacity: 100;
}
.down {
  display: block;
}
.link-btn {
  width: 200px;
  display: block;
  float: left;
  margin-right: 10px;
  cursor: pointer;
  font-size: 22px;
  padding: 10px;
  background-color: none;
  border: {
    style: solid;
    color: $primary-color;
    width: 2px;
    radius: 30px;
  }
  a {
    text-decoration: none;
    @include roboto(22px);
    color: $primary-color;
  }

  i {
    font-size: 22px;
  }
  &:hover {
    a {
      color: white;
    }
    background-color: $primary-color;
    border-color: $primary-color;
  }
}
.contact-buttons {
  position: relative;
  bottom: 0;
  display: block;
  float: left;
  text-decoration: none;
  &:not(:last-child) {
    margin-right: 56px;
  }
  @include roboto(36px);
  color: white;
  &:hover {
    transition: 0.3s;
    border-bottom: solid 5px white;
  }
  i {
    font-size: 40px;
    margin-right: 8px;
  }
}
.fcc-icon {
  font-size: 30px !important;
}
.go-btn {
  z-index: 2;
  width: auto;
  margin: auto;
  text-align: center;
  h2 {
    font-family: 'syncopate';
  }
}

.go-btn-on-black {
  @include button(white, 30px, 0px);
}
.go-btn-on-white {
  @include button($primary-color, 30px, 0px);
}
.go-up {
  width: 200px;
  position: absolute;
  top: 30px;
  right: 50%;
  margin-right: -100px;
  h2 {
    margin: 0px 0px 10px 0px;
  }
}
.go-down {
  width: 200px;
  position: absolute;
  bottom: 30px;
  right: 50%;
  margin-right: -100px;
  h2 {
    margin: 10px 0px 0px 0px;
  }
}

.resume-buttons {
  text-align: center;
  a {
    @include roboto(20px);
    color: white;
    @include button(white, 30px);
  }
}
@media (device-width: 500px), (max-device-width: 667px) {

  #profile {
    position: relative;
    height:100vh;
    //  min-height: 100vh;
    width: 100%;
    background: {
      width: auto;
    }
    .section-box {
      max-width: 980px;
      margin: auto;
    }
    img {
      width: 100%;
      border: {
        style: solid;
        color: white;
        width: 10px;
        radius: 50%;
      }
    }
    p {
      @include roboto(40px);
      color: white;

      text-shadow: 0px 0px 10px rgba(0, 0, 0, 1.0);

    }
    h1 {
      text-align: center;
    }
    .line1 {
      @include lobster(114px);
      color: white;
    }
    .line2 {
      @include josefin(100px);
      color: $primary-color;
    }
    .line3 {
      @include syncopate(42px);
      color: white;
      letter-spacing: 14px;
      margin-left: 14px;
    }
  }

  .profile-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0px;
    grid-auto-rows: minmax(90px, auto);
    &> div {
      border: none;
    }
    .g1 {
      padding: {
        top: 10%;
      }
      grid-column: 1;
      grid-row: 1;
    }
    .g2 {
      grid-column: 1;
      grid-row: 2;
      max-width: 620px;
      margin: auto;
      text-align: justify;
    }
  }


  #portfolio {
    //position: relative;
    //width: 100%;
    .section-box {
      max-width: 980px;
      //min-height: 600vh;
      margin: auto;
      //background-color: white;
      padding: 140px 0px 300px 0px;
      //box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    }
    p {
      @include roboto(42px);
      color: black;
    }
    img {
      width: 100%;
    }
    .section-title {
      display: none;
      @include roboto(72px);
      color: white;
      background-color: $primary-color;
      padding: 10px 10px 10px 10px;
      margin: 180px 0px 30px 0px;
      border-radius: 30px;
      p {
        @include roboto(32px);
        color: white;
        max-width: 700px;
        margin: 10px auto 10px auto;
      }
    }
    h3 {
      margin: 0;
      @include roboto(50px);
    }
    h4 {

    }
  }

  .portf-grid {
    margin-bottom: 40px;
    width: 100%;
    height: auto;
    //display: grid;
    //display: -ms-grid;
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-columns: 1;
    //grid-auto-rows: minmax(0px, auto);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    &> div {
      height: auto;
      overflow: hidden;
    }
    .port-img {
      position: relative;
      img {
        position: absolute;
        bottom: 0;
      }
      grid-column: 1;
      -ms-grid-column: 1;
      grid-row: 1;
      -ms-grid-row: 1;
      height: 40vh;
    }
    .port-img-details {
      position: relative;
      grid-column: 1;
      -ms-grid-column: 1;
      grid-row: 2;
      -ms-grid-row: 2;
      margin: auto 10%;
      border-bottom: solid 1px black;
      height: auto;
    }
    .divider {
      display: none;
      grid-column: 1;
      grid-row: 3;
      height: 10px;
    }
  }
  .divider {
    display: none;
    height: 10px;
    opacity: 0.2;
    border-top: none;
    border-bottom: solid 1px black;
    background: {
      image: none;
      repeat: no-repeat;
    }
  }


  #contact {
    position: relative;
    height: 100vh;
    min-height: 600px;
    background-color: $primary-color;
    .section-box {
      max-width: 980px;
      margin: auto;
    }
    p {
      @include roboto(20px);
      color: white;
      max-width: 400px;
      margin: 30px auto auto auto;
    }
    .section-title {
      @include roboto(72px);
      color: white;
    }
  }
  .contact-grid {
    margin-top: 180px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 0px;
    grid-row-gap: 0px;
    &> div {
      //  border: 2px solid rgb(233,171,88);
    }
    .section-title {
      padding-top: 10%;
      grid-column: 1 / 3;
      grid-row: 1;
    }
    .my-picture {
      grid-column: 3;
      grid-row: 1;
      img {
        height: 300px;
        border: solid 2px white;
        border-radius: 50%;
      }
    }
    .content {
      padding-top: 10%;
      grid-column: 1 / 4;
      grid-row: 2;
      h2 {
        text-align: center;
        @include roboto(30px);
        color: white;
      }
    }
    .content-buttons {
      position: relative;
      bottom: 40px;
      padding-top: 10%;
      grid-column: 1 / 4;
      grid-row: 3;
    }
  }
  .up {
    opacity: 100;
  }
  .down {
    display: block;
  }

  .link-btn {
    width: 600px;
    float: none;
    margin: auto auto 20px auto;
    font-size: 60px;
    padding: 20px;
    border: {
      radius: 60px;
      width: 5px;
    }
    a {
      text-decoration: none;
      @include roboto(60px);
      color: $primary-color;
    }
    i {
      font-size: 60px;
    }
  }
  .contact-buttons {
    position: relative;
    bottom: 0;
    display: block;
    float: left;
    text-decoration: none;
    &:not(:last-child) {
      margin-right: 56px;
    }
    @include roboto(36px);
    color: white;
    &:hover {
      transition: 0.3s;
      border-bottom: solid 5px white;
    }
    i {
      font-size: 40px;
      margin-right: 8px;
    }
  }
  .fcc-icon {
    font-size: 30px !important;
  }
  .go-btn {
    width: 500px;
    margin: auto;
    cursor: pointer;
    text-align: center;
    font-size: 40px;
    h2 {
      font-family: 'syncopate';
    }
    @include border(60px);
  }
  .go-btn-on-black {
    color: white;
    &:hover {
      color: $primary-color;
      border-color: white;
      background-color: white;
      h2 {
        color: $primary-color;
      }
    }
  }
  .go-btn-on-white {
    color: $primary-color;
    &:hover {
      color: white;
      border-color: $primary-color;
      background-color: $primary-color;
      h2 {
        color: white;
      }
    }
  }
  .go-up {
    position: absolute;
    top: 80px;
    right: 50%;
    margin-right: -250px;
    h2 {
      margin: 0px 0px 10px 0px;
    }
  }
  .go-down {
    position: absolute;
    bottom: 200px;
    right: 50%;
    margin-right: -250px;
    h2 {
      margin: 10px 0px 0px 0px;
    }
  }
  .nav-over-profile {
    color: white;
    border-color: white;
    &:hover {
      color: $primary-color;
      background-color: white;
      border-color: white;
    }
  }
  .nav-over-portfolio {
    color: $primary-color;
    background-color: white;
    border-color: $primary-color;
    &:hover {
      color: white;
      background-color: $primary-color;
      border-color: $primary-color;
    }
  }
}
