// compileExpanded, expandedFilenamePattern: ../css/style.css

//utilities
@import 'utilities/variables';
@import 'utilities/mixins';

//components
@import 'components/navbar';
@import 'components/buttons';
@import 'components/objects';

//layout
@import 'layout/grids';


body {
  margin: 0;
  font-family: jura;
  background-color: #ddd;
}
a {
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
h2 {
  font-size: 50px;
  color: white;
}
p {
  font-size: 16px;
}
#profile {
  overflow: hidden;
  height: 100vh;
  min-height: 500px;
  width: 100%;
  background: {
    image: url(https://image.ibb.co/kME7vb/gscl_portf_bg1080.jpg);
    repeat: no-repeat;
    width: 100%;
    color: black;
    size: cover;
  }
}
.profile-box {
  max-width: 1160px;
  margin: 30vh auto auto auto;
  text-align: center;
  h1 {
    margin: 0;
  }
  .title {
    color: white;
    display: inline-block;
    border: solid 5px $secondary-color;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0px 30px 7px 30px;
    font-size: 60px;
  }
  .subtitle {
    color: $light-color;
    @include shadow;
  }
  .introduction {
    color: white;
    @include shadow;
  }
}

#portfolio {
  position: relative;
  width: 100%;
  img {
    width: 100%;
  }
  h3 {
    margin: 0;
    color: $primary-color;
  }
}
.portfolio-box {
  max-width: 1160px;
  height: auto;
  margin: auto;
  background-color: white;
  //
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.portfolio-top {
  padding: 70px 90px 50px 90px;
  overflow: auto;
  background-color: $primary-color;
  p {
    text-align: justify;
  }
}
.explanation {
  text-align: left;
  clear: both;
  display: block;
  margin: 20px 0px 20px 0px;
}

#contact {
  position: relative;
  height: 100vh;
  min-height: 460px;
  background-color: $primary-color;
  img {
    width: 100%;
    max-width: 300px;
    border-radius: 50%;
  }
  .section-title {
    color: white;
  }
  h2 {
    margin: 0;
  }
}
.contact-box {
  max-width: 1160px;
  margin: auto;
}

@media (max-width: 800px) {
  .explanation {
    text-align: left;
    clear: both;
    display: block;
    margin: 20px 0px 20px 0px;
  }
}

@media (max-width: 780px) {
  h2 {
    font-size: 50px;
    color: white;
  }
  p {
    font-size: 16px;
  }
  #profile {
    overflow: hidden;
    height: 100vh;
    min-height: 340px;
    width: 100%;
    background: {
      image: url(https://image.ibb.co/kME7vb/gscl_portf_bg1080.jpg);
      repeat: no-repeat;
      width: 100%;
      color: black;
      size: cover;
    }
  }
  .profile-box {
    max-width: 1160px;
    margin: 30vh auto auto auto;
    text-align: center;
    h1 {
      margin: 0;
    }
    .title {
      color: white;
      display: inline-block;
      border: solid 3px $secondary-color;
      background-color: rgba(0, 0, 0, 0.1);
      padding: 0px 20px 5px 20px;
      font-size: 30px;
    }
    .subtitle {
      color: $light-color;
      font-size: 24px;
      margin: 0;
    }
    .introduction {
      color: white;
      text-shadow: 0px 0px 40px black, 0px 0px 30px black, 0px 0px 20px black;
    }
  }
  #contact {
    position: relative;
    height: 100vh;
    min-height: 540px;
  }
}

@media (max-width: 620px) {
  .portfolio-top {
    padding: 70px 20px 50px 20px;
    overflow: auto;
    background-color: $primary-color;
    p {
      text-align: justify;
    }
  }
  .portf-grid {
    padding: 0px 20px;
  }
}
