// compileCompressed, compressedFilenamePattern: ../css/style.css
$primary-color: #3296a2;
@mixin hover-effect($color:white) {
  &:hover {
    background-color: $color;
  }
}
@mixin lobster($size, $color:inherit) {
  font: {
    family: 'Lobster', sans-serif;
    size: $size;
  }
  color: $color;
}
@mixin josefin($size, $color:inherit) {
  font: {
    family: 'Josefin Sans', sans-serif;
    size: $size;
  }
  color: $color;
}
@mixin syncopate($size, $color:inherit) {
  font: {
    family: 'syncopate', sans-serif;
    size: $size;
  }
  color: $color;
}
@mixin roboto($size, $color:inherit) {
  font: {
    family: 'roboto';
    size: $size;
  }
  color: $color;
}
@mixin shadow {
  box: {
    shadow: 5px 5px 10px black;
  }
}
@mixin border {
  border: {
    style: solid;
    width: 1px;
    radius: 30px;
  }
}
body {
  margin: 0;
  background-color: white;
}
h1 {
  font-weight: normal;
  margin: 0;
}
h2 {
  font-weight: normal;
}
.fixed {
  position: fixed;
}
#navbar {
  background-color: rgba(0, 0, 0, 0.0);
  z-index: 1;
}
.top-navbar {
  height: 60px;
  width: 100%;
  a {
    text-decoration: none;
    font-family: roboto
  }
  .nav-buttons {
    display: block;
    float: left;
    margin: 7px 5px 0px 5px;
    padding: 2px 16px;
    border: {
      style: solid;
      width: 2px;
      radius: 30px;
    }
  }
  .social {
    display: block;
    float: right;
    font-size: 12px;
    border: solid 2px;
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    padding: 3px 5px;
    width: 22px;
  }
  .drop-button {
    display: none;
    float: left;
    margin: 10px 10px 5px 10px;
    padding: 0px 6px;
    font-size: 40px;
    color: white;
    @include hover-effect;
  }
}

#profile {

  position: relative;
  height:100vh;
  //  min-height: 100vh;
  width: 100%;
  background: {
    image: url(https://image.ibb.co/eqXJ3k/portfoliobg_BLU2.jpg);
    repeat: no-repeat;
    opacity: 50%;
    width: 100%;
    color: black;
  }
  .section-box {
    max-width: 980px;
    margin: auto;
  }
  img {
    width: 100%;
    border: {
      style: solid;
      color: white;
      width: 10px;
      radius: 50%;
    }
  }
  p {
    @include roboto(20px, white);

    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1.0);

  }
  h1 {
    text-align: center;
  }
  .line1 {
    @include lobster(90px, white);
  }
  .line2 {
    @include josefin(80px, $primary-color);
  }
  .line3 {
    @include syncopate(30px, white);
    letter-spacing: 14px;
    margin-left: 14px;
  }
}

.profile-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0px;
  grid-auto-rows: minmax(90px, auto);
  &> div {
    border: none;
  }
  .g1 {
    padding: {
      top: 10%;
    }
    grid-column: 1;
    grid-row: 1;
  }
  .g2 {
    grid-column: 1;
    grid-row: 2;
    max-width: 500px;
    margin: auto;
    text-align: justify;
  }
}


#portfolio {
  position: relative;
  width: 100%;
  .section-box {
    max-width: 980px;
    height: 100vh;
    min-height: 1980px;
    margin: auto;
    background-color: white;
    padding: 0px 90px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  }
  p {
    @include roboto(18px, black);
  }
  img {
    width: 100%;
  }
  .section-title {
    @include roboto(72px, white);
    background-color: $primary-color;
    padding: 10px 10px 10px 10px;
    margin: 80px 0px 30px 0px;
    border-radius: 30px;
    p {
      @include roboto(20px, white);
      max-width: 700px;
      margin: 10px auto 10px auto;
    }
  }
  h3 {
    margin: 0;
    @include roboto(30px, $primary-color)
  }
}

.portf-grid {
  margin-bottom: 40px;
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-columns: 33% 66%;
  grid-auto-rows: minmax(0px, auto);
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  &> div {
    height: 220px;
    overflow: hidden;
  }
  .port-img {
    grid-column: 1;
    -ms-grid-column: 1;
    grid-row: 1;
    -ms-grid-row: 1;
  }
  .port-img-details {
    grid-column: 2 / 4;
    -ms-grid-column: 2;
    grid-row: 1;
    -ms-grid-row: 1;
  }
  .divider {
    grid-column: 1 / 4;
    grid-row: 2;
    height: 10px;
  }
}
.divider {
  height: 10px;
  opacity: 0.2;
  border-top: solid 1px black;
  background: {
    image: url('https://image.ibb.co/gB4J65/bottomshadow.png');
    repeat: no-repeat;
  }
}


#contact {
  position: relative;
  height: 100vh;
  min-height: 600px;
  background-color: $primary-color;
  .section-box {
    max-width: 980px;
    margin: auto;
  }
  p {
    @include roboto(20px, white);
    max-width: 400px;
    margin: 30px auto auto auto;
  }
  .section-title {
    @include roboto(72px, white);
  }
}
.contact-grid {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 0px;
  grid-row-gap: 0px;
  &> div {
    //  border: 2px solid rgb(233,171,88);
  }
  .section-title {
    padding-top: 10%;
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .my-picture {
    grid-column: 3;
    grid-row: 1;
    img {
      height: 300px;
      border: solid 2px white;
      border-radius: 50%;
    }
  }
  .content {
    padding-top: 10%;
    grid-column: 1 / 4;
    grid-row: 2;
    h2 {
      text-align: center;
      @include roboto(30px, white)
    }
  }
  .content-buttons {
    position: relative;
    bottom: 40px;
    padding-top: 10%;
    grid-column: 1 / 4;
    grid-row: 3;
  }
}
.up {
  opacity: 100;
}
.down {
  display: block;
}
.link-btn {
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 22px;
  padding: 10px;
  background-color: none;
  border: {
    style: solid;
    color: $primary-color;
    width: 1px;
    radius: 30px;
  }
  @include roboto(22px, $primary-color);
  i {
    font-size: 22px;
  }
  &:hover {
    color: white;
    background-color: $primary-color;
    border-color: $primary-color;
  }
}
.contact-buttons {
  position: relative;
  bottom: 0;
  display: block;
  float: left;
  text-decoration: none;
  &:not(:last-child) {
    margin-right: 56px;
  }
  color: white;
  @include roboto(36px, white);
  &:hover {
    transition: 0.3s;
    border-bottom: solid 5px white;
  }
  i {
    font-size: 40px;
    margin-right: 8px;
  }
}
.fcc-icon {
  font-size: 30px !important;
}
.go-btn {
  width: 200px;
  margin: auto;
  cursor: pointer;
  text-align: center;
  h2 {
    font-family: 'syncopate';
  }
  @include border;
}
.go-btn-on-black {
  color: white;
  &:hover {
    color: $primary-color;
    border-color: white;
    background-color: white;
    h2 {
      color: $primary-color;
    }
  }
}
.go-btn-on-white {
  color: $primary-color;
  &:hover {
    color: white;
    border-color: $primary-color;
    background-color: $primary-color;
    h2 {
      color: white;
    }
  }
}
.go-up {
  position: absolute;
  top: 30px;
  right: 50%;
  margin-right: -100px;
  h2 {
    margin: 0px 0px 10px 0px;
  }
}
.go-down {
  position: absolute;
  bottom: 30px;
  right: 50%;
  margin-right: -100px;
  h2 {
    margin: 10px 0px 0px 0px;
  }
}
.nav-over-profile {
  color: white;
  border-color: white;
  &:hover {
    color: $primary-color;
    background-color: white;
    border-color: white;
  }
}
.nav-over-portfolio {
  color: $primary-color;
  background-color: white;
  border-color: $primary-color;
  &:hover {
    color: white;
    background-color: $primary-color;
    border-color: $primary-color;
  }
}

@media screen and (max-width: 1095px) {
  .top-navbar {
    display: none;
    height: 40px;
    background-color: black !important;
    z-index: 1;
    * {
      color: white !important;
    }
    .nav-buttons {
      display: none;
    }
    .social {
      margin: 0;
      padding: 0px 5px;
    }
    .drop-button {
      display: block;
      margin: 0;
    }
    &.drop-menu {
      height: 200px;
      .nav-buttons {
        display: block;
        float: none;
        position: relative;
        top: 48px;
      }

      .drop-button {
        display: block;
        position: absolute;
        left: 0px;
        top: 0px;
      }
    }
  }
  .name {
    @include roboto(30px);
  }
  #profile {
    position: relative;
    height:100vh;
    //  min-height: 100vh;
    width: 100%;
    background: {
      image: url(https://image.ibb.co/eqXJ3k/portfoliobg_BLU2.jpg);
      repeat: no-repeat;
      opacity: 50%;
      width: 100%;
      color: black;
    }
    .section-box {
      max-width: 980px;
      margin: auto;
    }
    img {
      width: 100%;
      border: {
        style: solid;
        color: white;
        width: 10px;
        radius: 50%;
      }
    }
    p {
      @include roboto(20px, white);

      text-shadow: 0px 0px 10px rgba(0, 0, 0, 1.0);

    }
    h1 {
      text-align: center;
    }
    .line1 {
      @include lobster(90px, white);
    }
    .line2 {
      @include josefin(80px, $primary-color);
    }
    .line3 {
      @include syncopate(30px, white);
      letter-spacing: 14px;
      margin-left: 14px;
    }
  }

  .profile-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0px;
    grid-auto-rows: minmax(90px, auto);
    &> div {
      border: none;
    }
    .g1 {
      padding: {
        top: 10%;
      }
      grid-column: 1;
      grid-row: 1;
    }
    .g2 {
      grid-column: 1;
      grid-row: 2;
      max-width: 500px;
      margin: auto;
      text-align: justify;
    }
  }


  #portfolio {
    //position: relative;
    //width: 100%;
    .section-box {
      max-width: 980px;
      height: 100vh;
      min-height: 600vh;
      //margin: auto;
      //background-color: white;
      padding: 0px 0px;
      //box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    }
    p {
      @include roboto(18px, black);
    }
    img {
      width: 100%;
    }
    .section-title {
      @include roboto(72px, white);
      background-color: $primary-color;
      padding: 10px 10px 10px 10px;
      margin: 80px 0px 30px 0px;
      border-radius: 30px;
      p {
        @include roboto(20px, white);
        max-width: 700px;
        margin: 10px auto 10px auto;
      }
    }
    h3 {
      margin: 0;
      @include roboto(30px, $primary-color)
    }
  }

  .portf-grid {
    margin-bottom: 40px;
    width: 100%;
    height: 100vh;
    //display: grid;
    //display: -ms-grid;
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-columns: 1;
    //grid-auto-rows: minmax(0px, auto);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    &> div {
      height: auto;
      overflow: hidden;
    }
    .port-img {
      grid-column: 1;
      -ms-grid-column: 1;
      grid-row: 1;
      -ms-grid-row: 1;
    }
    .port-img-details {
      grid-column: 1;
      -ms-grid-column: 1;
      grid-row: 2;
      -ms-grid-row: 2;
    }
    .divider {
      grid-column: 1;
      grid-row: 3;
      height: 10px;
    }
  }
  .divider {
    height: 10px;
    opacity: 0.2;
    border-top: solid 1px black;
    background: {
      image: url('https://image.ibb.co/gB4J65/bottomshadow.png');
      repeat: no-repeat;
    }
  }


  #contact {
    position: relative;
    height: 100vh;
    min-height: 600px;
    background-color: $primary-color;
    .section-box {
      max-width: 980px;
      margin: auto;
    }
    p {
      @include roboto(20px, white);
      max-width: 400px;
      margin: 30px auto auto auto;
    }
    .section-title {
      @include roboto(72px, white);
    }
  }
  .contact-grid {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 0px;
    grid-row-gap: 0px;
    &> div {
      //  border: 2px solid rgb(233,171,88);
    }
    .section-title {
      padding-top: 10%;
      grid-column: 1 / 3;
      grid-row: 1;
    }
    .my-picture {
      grid-column: 3;
      grid-row: 1;
      img {
        height: 300px;
        border: solid 2px white;
        border-radius: 50%;
      }
    }
    .content {
      padding-top: 10%;
      grid-column: 1 / 4;
      grid-row: 2;
      h2 {
        text-align: center;
        @include roboto(30px, white)
      }
    }
    .content-buttons {
      position: relative;
      bottom: 40px;
      padding-top: 10%;
      grid-column: 1 / 4;
      grid-row: 3;
    }
  }
  .up {
    opacity: 100;
  }
  .down {
    display: block;
  }
  .link-btn {
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 22px;
    padding: 10px;
    background-color: none;
    border: {
      style: solid;
      color: $primary-color;
      width: 1px;
      radius: 30px;
    }
    @include roboto(22px, $primary-color);
    i {
      font-size: 22px;
    }
    &:hover {
      color: white;
      background-color: $primary-color;
      border-color: $primary-color;
    }
  }
  .contact-buttons {
    position: relative;
    bottom: 0;
    display: block;
    float: left;
    text-decoration: none;
    &:not(:last-child) {
      margin-right: 56px;
    }
    color: white;
    @include roboto(36px, white);
    &:hover {
      transition: 0.3s;
      border-bottom: solid 5px white;
    }
    i {
      font-size: 40px;
      margin-right: 8px;
    }
  }
  .fcc-icon {
    font-size: 30px !important;
  }
  .go-btn {
    width: 600px;
    margin: auto;
    cursor: pointer;
    text-align: center;
    font-size: 60px;
    h2 {
      font-family: 'syncopate';
    }
    @include border;
  }
  .go-btn-on-black {
    color: white;
    &:hover {
      color: $primary-color;
      border-color: white;
      background-color: white;
      h2 {
        color: $primary-color;
      }
    }
  }
  .go-btn-on-white {
    color: $primary-color;
    &:hover {
      color: white;
      border-color: $primary-color;
      background-color: $primary-color;
      h2 {
        color: white;
      }
    }
  }
  .go-up {
    position: absolute;
    top: 300px;
    right: 50%;
    margin-right: -100px;
    h2 {
      margin: 0px 0px 10px 0px;
    }
  }
  .go-down {
    position: absolute;
    bottom: 300px;
    right: 50%;
    margin-right: -100px;
    h2 {
      margin: 10px 0px 0px 0px;
    }
  }
  .nav-over-profile {
    color: white;
    border-color: white;
    &:hover {
      color: $primary-color;
      background-color: white;
      border-color: white;
    }
  }
  .nav-over-portfolio {
    color: $primary-color;
    background-color: white;
    border-color: $primary-color;
    &:hover {
      color: white;
      background-color: $primary-color;
      border-color: $primary-color;
    }
  }
}
